//customs

// Layout

$grid-gutter-width: 0;

// Colors

$theme-colors: (
  "light": $color-background-primary,
  "searchButton": $color-primary,
);

// Font

$font-family-sans-serif: $font-primary;

// Navbar

$navbar-light-toggler-border-color: $color-background-primary;
$navbar-toggler-focus-width: 0;

// Button

$btn-border-radius: 4px;
$btn-border-width: none;

// Carousel

$carousel-indicator-height: 30px;
$carousel-indicator-spacer: 16px;
$carousel-indicator-opacity: 1;

// NavTabs

$nav-link-color: $color-primary;
$nav-link-hover-color: $color-secondary;
$nav-tabs-link-hover-border-color: transparent;

$nav-tabs-link-active-border-color: $color-border;
$nav-tabs-link-active-color: $color-secondary;
$nav-tabs-border-radius: 10px;

// Accordion

$accordion-border-color: none;
$accordion-border-radius: 10px;
$accordion-button-color: $color-primary;

$accordion-button-active-color: $color-primary;
$accordion-button-active-bg: $color-white;
$accordion-button-icon: none;

$accordion-button-active-icon: none;
$accordion-button-focus-border-color: $color-primary;

// Pagination

$pagination-font-size: 16px !important;
$pagination-color: $color-primary;
$pagination-border-radius: 4px !important;

$pagination-border-color: $color-primary;
$pagination-focus-bg: $color-white;
$pagination-focus-color: $color-primary;

$pagination-hover-color: $color-white;
$pagination-hover-bg: $color-primary;
$pagination-hover-border-color: $color-primary;

$pagination-active-color: $color-white;
$pagination-active-bg: $color-primary;
$pagination-active-border-color: $color-primary;

// NewsCards - cards

$card-border-color: none;
$card-border-radius: 10px;
$card-height: 394px;

$card-cap-padding-y: 10px;

// Contact form

$form-label-margin-bottom: 3px;
$form-label-font-size: 20px;
$form-label-font-weight: medium;
$form-label-color: $color-secondary;

$input-font-size: 17px ;
$input-border-color: transparent;
$input-border-radius: 4px;

$input-group-addon-color: $color-white;
$input-group-addon-bg: $color-form-website-input;

$form-check-input-bg: $color-primary;
$form-check-input-border: none;
$form-check-input-border-radius: 4px;

$form-check-input-checked-bg-color: $color-primary;
$form-check-label-color: $color-secondary;

// Contact info - Table

$table-color: $color-secondary;
$table-border-color: transparent;
