.carousel {
  position: relative;

  img {
    max-height: 462px;
    min-height: 287px;
    object-fit: cover;
  }

  @media (max-width: 768px) { 
    & {
      margin-top: 71.33px;
    }
  }

}

.carousel-indicators {

  button {
    border-radius: 2px;
    border: none !important;  
  }

  button:hover {
    background-color: $color-primary;
  }

  .active {
    background-color: $color-primary; 
  } 

}