.carousel {
  img {
    max-height: 462px;
    min-height: 287px;
    object-fit: cover;
  }
}

.carousel-indicators {
  button {
    border-radius: 2px;
    border: none !important;
    @include dropshadow(0px, 3px, 6px, 1);
  }

  button:hover {
    background-color: $color-primary;
  }

  .active {
    background-color: $color-primary;
  }
}
