.form__container {
  h1 {
    width: 90%;

    @media (max-width: 992px) {
      margin: 0 auto;
    }
  }

  form {
    background: $color-background-secondary;
    border-radius: 3px;
    @include dropshadow(0, 6px, 6px, 0.04);
  }

  fieldset {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  i {
    font-size: 30px;
  }

  .btn {
    background-color: $color-secondary;
    width: 100%;
    color: white;
    font: 22px medium;
    height: 58px;

    &:hover {
      background-color: $color-primary;
    }
    &:focus {
      background-color: $color-primary;
    }

    .detail-from__container {
    }
  }

  .form-check {
    display: flex;
    align-items: center;

    .form-check-input {
      min-width: 33px;
      min-height: 34px;
      margin-right: 10px;
    }
  }
}
