.form__container {
  h1 {
    width: 90%;

    @media (max-width: $screen-xl-tablet) {
      margin: 0 auto;
    }
  }

  form {
    background: $color-background-primary;
    border-radius: 3px;
    @include dropshadow(0, 6px, 6px, 0.04);
  }

  fieldset {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  input:not(#FieldsetCheck) {
    padding: 15px;
  }

  span {
    font-size: 17px;
    padding: 14px;
  }

  .btn {
    background-color: $color-secondary;
    width: 100%;
    color: $color-white;
    font: 22px medium;
    height: 58px;

    &:hover {
      background-color: $color-primary;
    }
    &:focus {
      background-color: $color-primary;
    }
  }

  .form-check {

    .form-check-input {
      min-width: 33px;
      min-height: 34px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  @media (max-width: $screen-xl-tablet) {
    .form-control {
      border-radius: 4px !important;
    }
  }
}
