.details-info__container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  font-weight: bold;

  tr td:first-of-type {
    text-align: center;
    width: 90px;
  }

  td {
    padding-bottom: 20px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  i {
    font-size: 30px;
  }

  @media (max-width: $screen-xl-tablet) {
    tr td:first-of-type {
      text-align: left;
      width: 60px;
    }
  }
}