footer {
  flex-shrink: 0;
  background: $color-white;
  color: $color-secondary;
  padding: 1rem;
  margin-top: 4rem;
  min-height: 53px;

  a {
    color: $color-secondary;
    text-decoration: none;
  }

  i {
    font-size: 30px;
    margin-right: 1rem;
  }

  @media (max-width: $screen-tablet) {

    & {
      padding: 2rem;
    }

    .footer__icons {
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
    }
  }
}
