footer {
  flex-shrink: 0;
  background: white;
  color: #919191;
  padding: 1em;
  margin-top: 4em;

  a {
    color: #919191;
    text-decoration: none;
  }

  i {
    font-size: 30px;
    margin-right: 1rem;
  }

  @media (max-width: 768px) {
    .footer__icons {
      margin-bottom: 1rem;
    }
  }

}