.navbar {

  @media (max-width: 992px) {

    .navbar-collapse{
      position: absolute;
      width: 100%;
      z-index: 999999;
      padding: 0;
      top: 88.67px;
      background-color: $color-background-secondary;
    }

    .nav__container {
      padding: 0;
      max-width: 100%;
    }

    .nav__container-mobile {
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
      padding: 1em 0;
    }
  
    form {
      width: 90%;
      margin: 0 auto;
      padding: 3em 0;

      input {
        height: 50px;
      }
      button {
        height: 50px;
      }
    }

    .navbar-nav {

      a {
        padding: 0.8em 3em;
        border-radius: 0;
      }

    }

    .navbar-collapse {
      @include dropshadow(0, 6px, 12px, 0.16)
    }
}

.navbar-brand {
    margin-right: 1em;
    color: $color-primary;
    text-decoration: none;
    font: italic bold 20px $font-secondary;
}

}

.active {
  background-color: $color-background-primary;
}

.navbar-nav {
  
  a {
    color: $color-links;
    text-decoration: none;
    padding: 4px 15px;
    border-radius: 3px;
  }

  a:hover {
    @extend .active;
  }
}


.search-container {
    input {
      border: none;
      border-radius: 4px 0 0 4px;
    }

    button {
      color: white;
      border-radius: 0 4px 4px 0;
    }

}




