* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  @include gradient-radial(
    $color-white,
    $color-background-primary-gradient
  );
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-spacing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.wrapper {
  flex: 1 0 auto;
}

@media (max-width: $screen-tablet) {
  .container__width--mobile {
    width: 90%;
  }
}

.container__width--mobile {
  
  @media (max-width: $screen-laptop) {
    & {
      max-width: $screen-tablet;
    }
  }

  @media (max-width: $screen-xl-tablet) {
    & {
      width: 90%;
    }
  }

}