* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  @include gradient-radial(
    $color-white,
    $color-background-primary-gradient
  );
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

@media (max-width: $screen-tablet) {
  .mobile-width__container {
    width: 90%;
  }
}

.mobile-width__container {
  
  @media (max-width: $screen-laptop) {
    & {
      max-width: $screen-tablet;
    }
  }

  @media (max-width: $screen-xl-tablet) {
    & {
      width: 90%;
    }
  }

}