.nav {
  border-bottom: none;
  .nav-link {
    border-bottom: none;
  }
}

.tab-pane {
  background-color: $color-white;
  padding: 2rem 2rem 4rem 2rem;
  border: 1px solid $color-border;
  border-radius: 10px;
  @include dropshadow(0, 6px, 22px, 0.06);
  margin-top: 0;

  &:first-of-type {
    border-top-left-radius: 0;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 149px;
    max-width: 238px;
  }
}

.tab__text-container {
  padding: 0 2rem;
}

.tablinks__container {
  gap: 1rem;
  color: $color-links;

  span {
    font-weight: bold;
  }

  i {
    color: $color-links;
    font-size: 25px;
  }
}
