// colours 

$color-primary: #E92569;
$color-secondary: #767676;

$color-links: #0A0A0A;

$color-border: #D1D1D1;

$color-background-primary: #FFFFFF;
$color-background-secondary: #EFEFEF;

$color-background-primary-gradient: #E5E5E5;
$color-background-secondary-gradient: #F5F5F5;

$color-form-website-input: #C7C7C7;

// fonts

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display', serif;

//customs

$grid-gutter-width: 0;

$theme-colors: (
  "light": $color-background-secondary,
  "searchButton": $color-primary,
);

$font-family-sans-serif: $font-primary;

$navbar-light-toggler-border-color: $color-background-secondary;
$navbar-toggler-focus-width: 0;

$carousel-indicator-height: 30px;
$carousel-indicator-spacer: 16px;
$carousel-indicator-opacity: 1;

$nav-link-color: $color-primary;
$nav-link-hover-color: $color-secondary;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-border-color: #D1D1D1;
$nav-tabs-link-active-color: $color-secondary;
$nav-tabs-border-radius: 10px;

$accordion-border-color: none;
$accordion-border-radius: 10px ;
$accordion-button-color: $color-primary;
$accordion-button-active-color: $color-primary;
$accordion-button-active-bg: white;
$accordion-button-icon: none;
$accordion-button-active-icon: none;
$accordion-button-focus-border-color: $color-primary;

$pagination-font-size: 16px !important;
$pagination-color: $color-primary;
$pagination-border-radius: 4px !important;
$pagination-border-color: $color-primary;
$pagination-focus-bg: white;
$pagination-focus-color:  $color-primary;
$pagination-hover-color: $color-background-primary;
$pagination-hover-bg: $color-primary;
$pagination-hover-border-color: $color-primary;
$pagination-active-color: white;
$pagination-active-bg: $color-primary;
$pagination-active-border-color: $color-primary;

$card-border-color: none;
$card-border-radius: 10px;
$card-height: 394px;

$card-cap-padding-y: 10px;

