// colours

$color-primary: #e92569;
$color-secondary: #767676;

$color-links: #0a0a0a;

$color-border: #d1d1d1;

$color-white: #ffffff;
$color-background-primary: #efefef;

$color-background-primary-gradient: #e5e5e5;
$color-background-secondary-gradient: #f5f5f5;

$color-form-website-input: #c7c7c7;

// fonts

$font-primary: "Lato", sans-serif;
$font-secondary: "Playfair Display", serif;

// screen sizes

$screen-tablet: 768px;
$screen-xl-tablet: 992px;
$screen-laptop: 1200px;